.site-logo-link {
  line-height: 0;
}

.site-logo {
  max-height: 40px;
  width: auto;
}

@media (min-width: 768px) {
  .site-logo {
    max-height: 48px;
  }
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}
